body {
	font-family: 'Open Sans', sans-serif;
}

/*reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 0.5rem;
	/*margin-bottom: 0.5rem;*/
	border-bottom: 1px solid grey;
	list-style-type: none;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: white;
}


nav .nav-logo {
	display: inline;
	margin-top: 1rem;
	/*margin: 0.5rem;*/
	float: left;
	margin-left: 8%;
}

nav .right-nav {
	display: block;
	text-align: right;
	margin-right: 8%;

}

nav .right-nav .nav {
	display: inline-block;
	margin: 1rem;
}

nav .right-nav .nav .tuitt-button {
	background-color: #c2195b;
	color: white;
	border-radius: 15px;
	border-radius: 25px;
	font-size: 12px;
	font-weight: bold;
	padding: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}


section {
	text-align: right;
}


#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	min-height: 25rem;
	
		
}

.front-bg {
	opacity: 0.6;
	background-color: black;
	min-height: 25rem;
	background-attachment: fixed;

}

.container {
	display: inline-block;
	text-align: right;
	padding: 0.5rem;
	padding-right: 8rem;
	width: 50%;
	align-content: right;

}

.container .title {
	font-family: new times roman;
	color: white;
	font-size: 45px;
	

}

.container .subtitle {
	
	color: white;
	font-size: 18px;
	margin: 1rem;
	display: inline-block;
	width: 75%;
	

}

.container .apply-button {
	background-color: #c2195b;
	color: white;
	border-radius: 15px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	padding: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: inline-block;
	width: 20%;
}

.title-2 {

	font-family: times new roman;
	padding-bottom: 3rem;
	padding-top: 3rem;
	text-align: center;

}

.intro .intro-description {
	
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3rem;
	text-align: left;
}

.pre-footer {
	height: 30vh;
	background-color: #f7fbfb;
	display: block;  
	text-align: center;
	

}

.prefooter-description {

	
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3rem;
	text-align: center;
	 
}


.book-button {
	background-color: #336589;
	color: white;
	border-radius: 15px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	padding: 0.5rem;
	/*top: 50%;
 	left: 50%;*/
 	margin: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  /*display: block;*/
  /*left: 50%;
  right: 50%;*/



}

footer {

	padding-right: 0.7rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}*/